body{
    background-color: #87CEFA;
}
.main img{
    width: 750px;
    height: 556px;
    padding-left: 20px;
    float: left;
}
.album img{
    width: 400px;
    height: 400px;
}
.album ul{
    diplay: block;
}
.album li{

}
figure{
    float: left;
}
.songs li{
    font-size: 18px;
}
header{
    text-align: center;
}
.songs header{

}
.members h1, p{
    margin-left: 40px;
}
.members h2{
    margin-left: 25px;
}
main{
    position: absolute;
}
.main p{
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    font-size: 22px;
}
nav{
    font-size: 18px;
    display: flex;
}
ul a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 5em;  padding:10px;
                margin: 0 5px;
                background-color: #f4f4f4;
                border: 1px dashed #333;
}
nav li {
                float: left;
            }
nav ul{
    list-style-type: none;
}
